* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*:focus {
    outline: 0;
}
.cards-html {
    -webkit-tap-highlight-color: transparent;
}
.card-body {
    align-items: center;
    /* background-image: linear-gradient(0deg,
    #0b74cb 0%
    #0b74cb 50%
    #ffffff 50%
    #ffffff 100%
    ); */
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    position: relative;
    transform-style: preserve-3d;
}

.cards-container .cards-card {
    /* background-color: #ffffff; */
    /* background-color: var(--mui-palette-secondary-dark); */
    /* background-color: var(--mui-palette-info-lightest); */
    background-color: var(--mui-palette-primary-light);
    border-radius: 4px;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4); */
    /* box-shadow: 0 5px 15px var(--mui-palette-info-lightest); */
    box-shadow: 0 5px 15px var(--mui-palette-primary-light);
    /* cursor: pointer; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    transition: background-color 0.5s ease, 
    color 0.5s ease,
    transform 0.5s ease;
    height: 240px;
    width: 180px;
    margin: 2rem 10px;
}

/* .cards-container:hover .cards-card,
.cards-container:focus .cards-card,
.cards-container:active .cards-card {
    transform: perspective(500px) rotateY(30deg);
} */

/* .cards-container .cards-card:hover,
.cards-container .cards-card:focus,
.cards-container .cards-card:active { */
.cards-container .targeted:hover,
.cards-container .targeted:focus,
.cards-container .targeted:active {
    transform: perspective(500px) rotateY(0deg);
}

.cards-container .targeted:hover~.cards-card,
.cards-container .targeted:focus~.cards-card,
.cards-container .targeted:active~.cards-card {
    transform: perspective(500px) rotateY(-30deg);
}

.cards-container .before-targeted,
.cards-container .before-targeted,
.cards-container .before-targeted {
    transform: perspective(500px) rotateY(30deg);
}

.cards-container .cards-card h2 {
    position: absolute;
    /* background-color: var(--mui-palette-primary-main); */
    /* border-radius: 50%; */
    /* color: #ffffff; */
    /* color: var(--mui-palette-info-dark); */
    color: var(--mui-palette-info-main);
    font-size: 23px;
    margin-bottom: 30px;
    text-align: center;
    /* transition: box-shadow 0.5s ease; */
    /* height: 120px;
    width: 120px; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.cards-container .cards-card:hover h2,
.cards-container .cards-card:focus h2,
.cards-container .cards-card:active h2 {
    /* background-color: #ffffff; */
    /* background-color: ; */
    /* box-shadow: 0 0 0 15px var(--mui-palette-primary-main); */
    /* color: var(--mui-palette-primary-main); */
    color: var(--mui-palette-primary-dark);
}

.cards-container .cards-card svg {
    position: absolute;
    bottom: 30px;
    color: var(--mui-palette-info-main);
    font-size: 23px;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.cards-container .cards-card:hover svg,
.cards-container .cards-card:focus svg,
.cards-container .cards-card:active svg {
    color: var(--mui-palette-primary-dark);
}


@media only screen and (max-width: 1120px) {
    .cards-container .cards-card{
        height: 192px;
        width: 144px;
    }
    .cards-container .cards-card h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .cards-container .cards-card svg {
        width: 30px;
        height: 30px;
        bottom: 20px;
    }
}

@media only screen and (max-width: 680px) {
    .cards-container .cards-card{
        /* height: 180px;
        width: 135px; */
        height: 160px;
        width: 120px;
    }
    .cards-container .cards-card {
        margin: 1rem 4px;
    }
    .cards-container .cards-card h2 {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .cards-container .cards-card svg {
        bottom: 15px;
    }
}
