.skills-container {
    /* background-color: #009393; */
    /* background-color: var(--mui-palette-primary-darkest); */
    background-color: var(--mui-palette-secondary-main);
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100vw;
    overflow: hidden; */
} 
.skills-sub-container {
    width: 100%;
    /* background-color: ; */
}

.skills-cards-container-desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 0 60px 0;
}

.skills-cards-container-mobile {
    display: none;
}


@media only screen and (max-width: 680px) {
    .skills-sub-container{
        width: 100%;
    }
    .skills-cards-container-desktop {
        display: none;
    }
    .skills-cards-container-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 40px 0;
    } 
}