.skills-container {
    /* background-color: #009393; */
    /* background-color: var(--mui-palette-primary-darkest); */
    background-color: var(--mui-palette-secondary-main);
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100vw;
    overflow: hidden; */
} 
.skills-sub-container {
    width: 90%;
    /* background-color: ; */
}

.skills-sub-container h1 {
    width: fit-content;
    /* color: white; */
    color: var(--mui-palette-info-main);
    font-weight: 600;
    font-size: 5rem;
    margin: 60px;
    border-bottom: dashed var(--mui-palette-primary-main) 5px;
} 

.skills-cards-container-desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 0 60px 0;
}

.skills-cards-container-mobile {
    display: none;
}

@media only screen and (max-width: 860px) {
    .skills-sub-container h1 {
        font-size: 4rem;
        margin: 40px 0;
    } 
}

@media only screen and (max-width: 680px) {
    .skills-sub-container{
        width: 100%;
    }
    .skills-sub-container h1 {
        font-size: 3.2rem;
        width: 100%;
        margin: 20px 0 0 0;
        text-align: center;
    } 
    .skills-cards-container-desktop {
        display: none;
    }
    .skills-cards-container-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 40px 0;
    } 
}