.colors {
    /* color: #705EDC; */
    color: #6A5BD5;
    color: #7209b7;
    color: #6f2dbd;
    color: #3d348b;
}

/* menu */
.menu header{
    position: fixed;
    top: 0px;
    width: 100vw;
    z-index: 1000;
    text-decoration: none;
}

 .top-bar {
    width: 100%;
    height: 70px;
    /* background-color: #ffffff30;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px); */
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scrolled {
    transition: 0.2s;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    background-color: #ffffff30;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    /* background-color: #00c0a9; */
    /* border: solid 10px red; */
}

/* Options */
.options {
    /* border: solid 1px red; */
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.options ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0px;
    width: 75%;
}

.options svg {
    display: none;
}

.link {
    text-decoration: none;
    color: #000000;
    transition: 0.2s;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 5px;
}

.link:hover {
    /* color: #009393; */
    color: #6A5BD5;
}

.link.active {
    /* color: #009393; */
    color: #6A5BD5;
}

/* changing lang */
.changing-lang {
    /* border: solid 1px red; */
    /* position: absolute;
    right: 30px;
    width: 30px; */
    height: 30px;
    padding: 0;
    margin: 0;
    /* border: solid 2px #6A5BD5; */
    border: solid 2px #000;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}
.changing-lang svg {
    width: 130%;
    height: 130%;
    padding: 0;
    margin: 0;
    /* color: #6A5BD5; */
    color: #000;
    transition: 0.3s;
}
.langInputs {
    /* border: solid 1px red; */
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: 0.2;
    direction: ltr;
    overflow: hidden;
}
.langInputs .lang:nth-child(2) {
    /* border-left: solid 2px #6A5BD5; */
    border-left: solid 2px #000;
    padding-top: 1.5px;
}

.langActive {
    width: 100px;
    /* width: fit-content; */
    /* height: 50px; */
    border-radius: 50px;
    /* border: solid 2px #016170; */
}
.langActive svg {
    opacity: 0;
}
.langActive .langInputs {
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.lang {
    border: none;
    width: 50%;
    height: 100%;
    background-color: transparent;
    /* color: #6A5BD5; */
    color: #000;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lang.active {
    color: #6A5BD5;
    background-color: #695bd530;
    /* text-decoration: underline; */
}
/* .lang {
    border: none;
    padding: 0 10px;
    height: 30px;
    background-color: transparent;
    color: #016170;
    letter-spacing: 1.5px;
    cursor: pointer;
    font-weight: 600;
}

.active {
    color: #00c0a9;
} */


@media only screen and (max-width: 680px) {
    .menu header{
        /* border: solid 2px red; */
        top: unset;
        bottom: 20px;
        height: fit-content;
        display: flex;
        align-items: baseline;
        justify-content: center;
    }
    .top-bar {    
        /* border: solid 2px red; */
        background-color: #ffffff30;
        height: 50px;
        width: 90%;
        border-radius: 70px;
        align-items: center;
        justify-content: space-around;
    }
    .options {
       height: 60%;
       position: relative;
       /* bottom: 150px; */

    }
    .options ul {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .options span {
       display: none;
    }
    .options svg {
       display: flex;
       width: 30px;
       height: 30px;
    }
    .changing-lang {
        position: relative;
    }
    .changing-lang:lang(fa) {
        position: relative;
    }
  }

  /* @keyframes apear {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  @keyframes disapear {
    from {
        display: flex;
        opacity: 1;
    }
    to {
        display: flex;
        opacity: 0;
    }
  } */