.loading-container {
    /* border: solid 10px red; */
    width: 100vw;
    height: 100vh;
    background-color: #eaebed;
    /* background-color: var(--mui-palette-secondary-main); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-container h1 {
    /* border: solid 10px blue; */
    font-size: 35px;
    color: #6A5BD5;
    /* background-color: var(--mui-palette-primary-main); */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
}

@media only screen and (max-width: 680px) {
    .loading-container h1 {
        font-size: 28px;
    }
}