.contact-container {
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--mui-palette-secondary-main);
}

/* Social Links */

.social-links {
    /* border: solid green 1px; */
    margin: 100px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-radius: 10px;
    transition: 0.2s;
}

/* .social-links:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.395);
} */

.social-links ul {
    /* border: solid 1px red; */
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0 5rem;
}

.social-links svg {
    /* border: solid 1px red; */
    font-size: 2.2rem;
    position: relative;
    top: 11px;
}

.social-links a{
    text-decoration: none;
    color: var(--mui-palette-info-main);
    /* color: #009393; */
    display: inline-block;
    position: relative;
    margin: 5px;
}

.social-links a:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    background-color: var(--mui-palette-primary-main);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.contact:lang(fa) .social-links a:after {
    transform-origin: unset;
    transform-origin: bottom right;
}

.social-links a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.contact:lang(fa) .social-links a:hover:after {
    transform-origin: unset;
    transform-origin: bottom right;
}

.social-links span {
    font-size: 1.3rem;
    font-weight: 400;
    margin: 5px 15px;
    color: var(--mui-palette-info-main);
}

.social-links img {
    width: 35vw;
    margin: 0 60px;
    transform: rotateY(180deg);
}

.social-links img:lang(fa) {
    transform: rotateY(0deg);
}

/* Email Me */
.email-me {
    /* border: solid green 1px; */
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-radius: 10px;
    transition: 0.2s;
}

.email-me img {
    width: 35vw;
    margin: 0 50px;
}

.email-me img:lang(fa) {
    transform: rotateY(180deg);
}

.email-me img {
    width: 35vw;
    margin: 0 50px;
}

.form-container {
    /* border: solid 1px chartreuse; */
    width: 100%;
}

/* The End */
.the-end {
    /* border: solid green 1px; */
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-radius: 10px;
    transition: 0.2s;
}

.the-end img {
    /* border: solid 1px brown; */
    width: 30vw;
    margin: 0 50px;
}

.the-end img:lang(fa) {
    transform: rotateY(180deg);
}

.the-end h1 {
    /* border: solid 1px yellow; */
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    color: var(--mui-palette-primary-main)
    /* color: rgb(7, 156, 156); */
}

@media only screen and (max-width: 1100px) {
    .social-links span {
        font-size: 1.1rem;
        margin: 5px 10px 5px 0;
    }
    .social-links img {
        width: 35vw;
        margin: 0 0 0 40px;
    }
    .email-me img {
        width: 40vw;
        margin: 0;
    }
    .the-end img {
        width: 33vw;
        margin: 0;
    }
    .the-end h1 {
        font-size: 1.8rem;
        transition: 0.3s;
    }
}

@media only screen and (max-width: 850px) {
    .social-links {
        justify-content: center;
        padding: 30px 0;
        margin: 100px 10px;
    }
    .social-links ul {
        margin: 0 0rem;
    }
    .social-links span {
        font-size: 1.3rem;
        margin: 5px;
    }
    .social-links img {
        display: none;
    }
    .email-me {
        margin: 50px 10px;
    }
    .email-me img {
        display: none;
    }
    .the-end {
        margin: 0 0 50px 0;
    }
    .the-end img {
        display: none;
    }
    .the-end h1 {
        font-size: 1.5rem;
        border: solid 3px var(--mui-palette-primary-darkest);
        border-radius: 10px;
    }
    .the-end h1:hover {
        background-color: var(--mui-palette-primary-light);
    }
}