.contact-container {
    /* border: solid red 1px; */
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--mui-palette-secondary-main);
}

/* Social Links */

.social-links {
    /* border: solid green 1px; */
    margin: 100px 20px 50px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 30px; */
    border-radius: 10px;
    transition: 0.2s;
}

/* .social-links:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.395);
} */

.links-container {
    /* border: solid 1px red; */
    width: 50%;
}

.links-container ul {
    /* border: solid 1px red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
    padding: 0 0 0 20%;
}
.contact-container:lang(fa) .links-container ul {
    padding: 0 20% 0 0;
}

.links-container svg {
    /* border: solid 1px red; */
    font-size: 2.2rem;
    position: relative;
    top: 11px;
}

.links-container a{
    text-decoration: none;
    color: var(--mui-palette-info-main);
    /* color: #009393; */
    display: inline-block;
    position: relative;
    margin: 5px;
}

.links-container a:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    background-color: var(--mui-palette-primary-main);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.contact-container:lang(fa) .links-container a:after {
    transform-origin: unset;
    transform-origin: bottom left;
}

.links-container a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.contact-container:lang(fa) .links-container a:hover:after {
    transform-origin: unset;
    transform-origin: bottom right;
}

.links-container span {
    font-size: 1.3rem;
    font-weight: 400;
    margin: 5px 15px;
    color: var(--mui-palette-info-main);
}

/* Email Me */
.form-container {
    /* border: solid blue 1px; */
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: 0.2s;
}

/* The End */
.the-end {
    /* border: solid green 1px; */
    margin: 70px 20px 50px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 10px;
    transition: 0.2s;
}

.the-end h1 {
    /* border: solid 1px yellow; */
    color: var(--mui-palette-primary-main);
    text-align: center;
    font-size: 35px;
    margin: 0 20px;
    /* color: rgb(7, 156, 156); */
}

.the-end svg {
    color: var(--mui-palette-primary-main);
    width: 50px;
    height: 50px;
}

@media only screen and (max-width: 1100px) {
    .social-links span {
        font-size: 1.1rem;
        margin: 5px 10px 5px 0;
    }
    .the-end h1 {
        font-size: 1.8rem;
        transition: 0.3s;
    }
}

@media only screen and (max-width: 850px) {
    .contact-container {
        padding-bottom: 70px;
    }
    .social-links {
        padding: 30px 0;
        margin: 50px 10px 0 10px;
        flex-direction: column;
    }
    .links-container {
        width: fit-content;
    }
    .links-container ul {
        padding: 0;
    }
    .contact-container:lang(fa) .links-container ul {
        padding: 0;
    }
    .links-container span {
        font-size: 18px;
        margin: 5px;
    }
    .form-container {
        margin-top: 50px;
        width: 100%;
    }
    .the-end {
        margin: 30px 20px 100px 20px;
        background-color: var(--mui-palette-primary-light);
    }
    .the-end h1 {
        font-size: 18px;
        border-radius: 10px;
        padding: 10px 0;
        margin-left: 10px;
    }
    .the-end svg {
        color: var(--mui-palette-primary-main);
        width: 35px;
        height: 35px;
    }
}