.contact-container {
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    background: #fff;
}

/* Social Links */

.social-links {
    /* border: solid green 1px; */
    margin: 100px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-radius: 10px;
    transition: 0.2s;
}

/* .social-links:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.395);
} */

.social-links ul {
    /* border: solid 1px red; */
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0 5rem;
}



.social-links a{
    text-decoration: none;
    color: #016170;
    /* color: #009393; */
    display: inline-block;
    position: relative;
    margin: 5px;
}

.social-links a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #009393;
  /* background-color: #10944b; */
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.social-links a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.social-links span {
    font-size: 1.3rem;
    font-weight: 400;
    margin: 5px;
    margin: 0 15px;
    color: #009393;
}

.social-links img {
    width: 35vw;
    margin: 0 100px;
    transform: rotateY(180deg);
}

/* Email Me */
.email-me {
    /* border: solid green 1px; */
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-radius: 10px;
    transition: 0.2s;
}

.email-me img {
    width: 35vw;
    margin: 0 50px;
}

.form-container {
    /* border: solid 1px chartreuse; */
    width: 100%;
}