.home-container {
  height: 100vh;
  overflow: hidden;
}

.home-body {
  margin: 0;
  position: absolute;
  width: 100vw;
  top: 0;
}

main {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2.1px;
}

section {
  transform-style: preserve-3d;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.no-parallax {
  background-color: #000;
  z-index: 999;
}

.parallax h1 {
  width: 60%;
  font-size: 5rem;
}

.parallax h1:lang(fa) {
  position: relative;
  right: 35%;
}

.parallax span {
  font-size: 6rem;
}

.parallax::after {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-color: #000;
  background-size: 110%;
  z-index: -1;
}

.bg::after {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
  url('../assets/images/2.jpg');
  background-size: 110%;
  background-position:  top right;
  background-repeat: no-repeat;
}

.no-parallax h1 {
  font-size: 2.9rem;
  margin: 50px;
}

@media only screen and (max-width: 985px) {
  .bg::after{
    background-size: 165%;
  }

  .parallax h1 {
    width: 80%;
    font-size: 5rem;
    position: relative;
    top: 150px;
  }
}
@media only screen and (max-width: 720px) {
  .bg::after{
    background-size: 300%;
  }

  .parallax h1 {
    width: 80%;
    font-size: 3.5rem;
  }

  .parallax span {
    font-size: 4rem;
  }
}