html {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

body {
    /* deleting horizontal scroll */
    width: 100vw;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none; 
}

* {
  -webkit-tap-highlight-color: transparent !important;
  font-size: 1rem;
}

*:lang(en) {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    font-family: Arial, Helvetica, sans-serif;
}
  
*:lang(fa) {
  font-family: IRANSansX;
}
  
  *::selection {
    /* color: #ddf7f8; */
    /* color: #f0edcc;
    background-color: #9ab8ba; */
    /* background-color: #02342f; */
    color: #02342f;
    color: var(--mui-palette-info-dark);
    background-color: var(--mui-palette-primary-dark);
  }

