html {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

body {
    /* deleting horizontal scrokk */
    width: 100vw;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none; 
}

