.about-container {
    /* border: solid 5px red; */
    background-color: var(--mui-palette-secondary-main);
    width: 100vw;
    min-height: 100vh;
    position: relative;
}

/* about-c.about-content in center */
.centering {
    /* border: solid 10px red; */
    /* position: absolute;
    inset: 0; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 950px;
    margin-bottom: 100px;
}

.info {
    /* border: solid 1px black; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: var(--mui-palette-info-light);
    width: 500px;
}

.info p {
    /* border: solid 1px red; */
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
}

.items {
    /* border: solid 1px red; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 30px 0;
}

.item {
    /* border: solid 1px blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    padding: 0 10px;
}
.item h3 {
    color: var(--mui-palette-info-main);
    font-size: 30px;
    font-weight: 800;
    margin: 0;
    padding: 0;
    direction: ltr;
}
.item p {
    /* border: solid 1px red; */
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.contact-button {
    /* border: solid 1px blue; */
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
}

/* image */
.image {
    /* border: solid 1px red; */
    width: 350px;
    height: 350px;
    background-color: var(--mui-palette-secondary-main);
    background-image: url("../../assets/images/me/me2.webp");
    background-size: 105%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-shrink: 0;
    border-radius: 10px;
    box-shadow:  0 0 10px rgba(192, 192, 192, 0.5);
    position: relative;
    overflow: hidden;
    transition: 0.1s;
}
.image::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.1);
}
.image:hover {
    background-size: 110%;
}



@media only screen and (max-width: 1140px) {
    .about-content {
        /* border: solid 5px red; */
        flex-direction: column;
        justify-content: center;
    }
    .info {
        align-items: center;
        margin-top: 40px;
    }
    .info h3 {
        font-size: 25px;
    }
    .info p {
        font-size: 15px;
        text-align: center;
        width: 100%;
    }
    .contact-button {
        justify-content: center;
    }
    .about-content .image {
        width: 250px;
        height: 250px;
    }
}

@media only screen and (max-width: 660px) {
    .about-container {
        min-height: fit-content;
    }
    .about-content {
        height: fit-content;
        justify-content: start;
        padding-top: 70px;
    }
    .info{
        width: 100%;
    }
    .info p:first-child {
        /* border: solid 1px red; */
        width: 80%;
    }
    .items {
        width: 90%;
        margin: 25px 0;
    }
    .item p {
        width: 100%;
    }
}

@media only screen and (max-width: 420px) {
    .info p {
        width: 90%;
    }
    .items {
        padding: 0;
    }
    .item {
        width: 30%;
    }
    .item h3 {
        font-size: 20px;
    }
    .item p {
        width: 100%;
    }
    .about-content .image {
        width: 200px;
        height: 200px;
    }
}
