* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*:focus {
    outline: 0;
}
.cards-html {
    -webkit-tap-highlight-color: black;
}
.card-body {
    align-items: center;
    background-image: linear-gradient(0deg,
    #0b74cb 0%
    #0b74cb 50%
    #ffffff 50%
    #ffffff 100%
    );
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    position: relative;
    transform-style: preserve-3d;
}

.cards-container .cards-card {
    align-items: center;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 2rem 10px;
    overflow: hidden;
    position: relative;
    transform-style: preserve-3d;
    transition: background-color 0.5s ease, 
    color 0.5s ease,
    transform 0.5s ease;
    height: 240px;
    width: 180px;
}

.cards-container:hover .cards-card,
.cards-container:focus .cards-card,
.cards-container:active .cards-card {
    transform: perspective(500px) rotateY(30deg);
}

.cards-container .cards-card:hover,
.cards-container .cards-card:focus,
.cards-container .cards-card:active {
    transform: perspective(500px) rotateY(0deg);
}

.cards-container .cards-card:hover~.cards-card,
.cards-container .cards-card:focus~.cards-card,
.cards-container .cards-card:active~.cards-card {
    transform: perspective(500px) rotateY(-30deg);
}

.cards-container .cards-card h2 {
    background-color: #00c0a9;
    border-radius: 50%;
    color: #ffffff;
    font-size: 1.45rem;
    text-align: center;
    transition: box-shadow 0.5s ease;
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-container .cards-card:hover h2,
.cards-container .cards-card:focus h2,
.cards-container .cards-card:active h2 {
    background-color: #ffffff;
    box-shadow: 0 0 0 15px #00c0a9;
    color: #00c0a9;
    transition: 0.5s;
}


@media only screen and (max-width: 1120px) {
    .cards-container .cards-card{
        height: 192px;
        width: 144px;
    }
    .cards-container .cards-card h2 {
        height: 110px;
        width: 110px;
        font-size: 1.2rem;
    }
}
