.describe-container {
    height: 500px;
    background-color: #e9ebed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.describe-container div {
    padding: 10%;

}

.describe-container img {
    width: 150px;
    float: left;
}

.describe-container img:lang(fa) {
    float: right;
    transform: rotateY(180deg);
}

.describe-container p {
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 50px;
}

@media only screen and (max-width: 860px) {
    .describe-container div {
        padding: 5%;
    }
    .describe-container img {
        width: 110px;
    }
    .describe-container p {
        font-size: 1.1rem;
        line-height: 30px;
    }
}
@media only screen and (max-width: 680px) {
    .describe-container div {
        padding: 5%;
    }
    .describe-container img {
        width: 100px;
    }
    .describe-container p {
        font-size: 0.9rem;
        line-height: 25px;
    }
}