.langs-container {
    background-color: var(--mui-palette-secondary-main);
    /* background-color: #FF7BA9; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
}

.langs-sub-container {
    /* border: solid  1px black; */
    width: 100%;
}

.langs-sub-container h3 {
    /* border: solid rgb(47, 113, 113) 1px; */
    color: var(--mui-palette-info-main);
    font-size: 25px;
    font-weight: 600;
    margin: 0px 60px 60px 60px;
    position: relative;
    bottom: 25px;
}

.langs-sub-container .langs {
    /* border: solid 1px red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px 0;
} 

/* Cards */
.langs .container{
    /* border: solid yellow; */
    position: relative;
    /* width: fit-content; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    perspective: 800px;
    margin: auto;
}

.langs .container .box {
    /* border: solid yellow; */
    position: relative;
    width: 275px;
    height: 275px;
    background-color: black;
    transition: 0.5s;
    transform-style: preserve-3d;
    overflow: hidden;
    margin: 0 15px;
    box-shadow: 0 0 15px var(--mui-palette-info-lightest);
    border-radius: 6px;
}
.langs .container .box:first-child {
    margin-left: 0;
}
.langs .container .box:last-child {
    margin-right: 0;
}

.langs .container:hover .box {
    transform: rotateY(25deg);
}

.langs .container .box:hover {
    transform: rotateY(0deg);

}

.langs .container .box:hover~.box {
    transform: rotateY(-25deg);
}

.langs .container .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.langs .container .box .imgBx::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(180deg, #f00, #000); */
    background: linear-gradient(180deg, var(--mui-palette-primary-main), #000);
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
    mix-blend-mode: multiply;
}

.langs .container .box:hover .imgBx::before {
    opacity: 1;
}

.langs .container .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.langs .container .box div.content {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    padding: 20px;
    align-items: flex-end;
    justify-content: center;
    box-sizing: border-box;
}

.langs .container .box .content h2 {
    color: white;
    transition: 0.5s;
    text-transform: uppercase;
    margin: 0;
    font-size: 1.8rem;
    transform: translateY(200px);
}

.langs .container .box:hover .content h2 {
    transform: translateY(0px);
}

.langs .container .box .content p {
    color: #eaebed;
    transition: 0.5s;
    font-size: 1rem;
    transform: translateY(200px);
    transition-delay: 0.1s;
    margin: 0 0 10px 0;
}

.langs .container .box:hover .content p {
    transform: translateY(0px);
}

@media only screen and (max-width: 860px) {
    .langs-sub-container {
        width: 100%;
    }
    .langs-sub-container h3 {
        font-size: 20px;
        font-weight: 600;
        margin: 0px 40px 40px 40px;
    }
}

@media only screen and (max-width: 680px) {
    .langs .container .box {
        /* border: solid red; */
        width: 160px;
        height: 160px;
    }
    .langs-sub-container h3 {
        margin: 0px;
        text-align: center;
    }
} 
        
@media only screen and (max-width: 550px) {
    .langs .container{
        flex-direction: column;
    }
    .langs .container .box {
        /* border: solid red; */
        width: 200px;
        height: 200px;
        margin: 15px 0;
    }
    .langs .container .box:first-child {
        margin-top: 0;
    }
    .langs .container .box:last-child {
        margin-bottom: 0;
    }
    .langs .container:hover .box {
        transform: rotateY(0deg);
        transform: rotateX(-30deg);
    }
    .langs .container .box:hover {
        transform: rotateY(0deg);
        transform: rotateX(0deg);
    }
    .langs .container .box:hover~.box {
        transform: rotateY(0deg);
        transform: rotateX(30deg);
    }
}

@media only screen and (max-width: 420px) {
    .langs-sub-container h3 {
        font-size: 18px;
    }
}



