.skills-container {
    background-color: #009393;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.skills-sub-container {
    width: 90%;
    background-color: #009393;
}

.skills-sub-container h1 {
    width: fit-content;
    color: white;
    font-weight: 600;
    font-size: 5rem;
    margin: 60px;
    border-bottom: dashed #31f3f3 5px;
} 

.skills-cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 0 60px 0;
}

@media only screen and (max-width: 860px) {
    .skills-sub-container h1 {
        font-size: 4rem;
        margin: 40px;
    } 
}