.work-container {
    background-color: var(--mui-palette-secondary-main);
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-sections {
    /* border: solid 1px red; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 100px 0;
}

/* Work */

.work-section {
    /* border: solid 1px blue; */
    width: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.work-section:lang(fa) {
    text-align: right;
}

.work-title {
    /* border: solid 1px red; */
    width: 100%;
    padding: 0 2.5%;
    /* color: rgb(84, 84, 84); */
    color: var(--mui-palette-info-light);
    font-size: 50px;
    margin: 0 0 20px 0;
}
.work-title svg {
    font-size: 3rem;
    position: relative;
    top: 8px;
}

.work-item {
    /* border: solid 1px green; */
    width: 95%;
    display: flex;
    margin: 10px 10px;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
}
.work-item:hover {
    /* transform: scale(1.02); */
    /* background-color: rgb(255, 255, 255); */
    box-shadow: 0 0 7px var(--mui-palette-info-lightest);
}

.item-helper {
    /* float: left; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    /* top: 5px; */
    padding: 5px 0;
}
.item-helper .num {
    width: 35px;
    height: 35px;
    border: solid var(--mui-palette-info-main) 2px;
    /* border: solid var(--mui-palette-primary-dark) 2px; */
    /* color: var(--mui-palette-primary-dark); */
    /* background-color: var(--mui-palette-primary-dark); */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
}
.work-container:lang(fa) .item-helper .num {
    padding-top: 4px;
}

.work-item .item-data {
    /* border: solid yellow 1px; */
    width: 100%;
    position: relative;
    left: 20px;
}

.work-item .item-data:lang(fa) {
    left: -10px;
}

.work-item h2 {
    color: var(--mui-palette-info-main);
    font-size: 30px;
    margin: 0;
    font-weight: 600; 
    padding-right: 15px;
}
.article-item h2 {
    font-size: 23px;
}

.work-item a {
    text-decoration: none;
}

.work-item h3 {
    color: var(--mui-palette-info-main);
    font-size: 23px;
    margin: 0;
    transition: 0.2s;
    text-decoration: underline var(--mui-palette-primary-main);
    padding-right: 15px;
}
.article-item h3 {
    font-size: 18px;
    padding: 10px 15px 10px 0;
}

.work-item h3:hover{
    color: var(--mui-palette-primary-main);
} 

.work-item h5 {
    /* color: rgb(49, 49, 49); */
    color: var(--mui-palette-primary-dark);
    font-size: 1rem;
    /* font-size:15px; */
    font-weight: 400;
    margin: 10px 0 0 0;
}

.work-item h6 {
    color: var(--mui-palette-primary-main);
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

.work-item ul {
    margin: 10px 0 0 0;
    position: relative;
    width: 95%;
}
.work-item ul:lang(en) {
    left: 30px;
}
.work-item ul:lang(fa) {
    right: 30px;
}

.work-item li {
    color: var(--mui-palette-info-main);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 10px;
}

.work-item p {
    /* border: solid 1px red; */
    font-size: 1rem;
    font-weight: 400;
    margin-top: 10px;
}

.border {
    border-left: solid 1px var(--mui-palette-info-light);
}

.border:lang(fa){
    border-left: none;
    border-right: solid 1px;
}

/* articles */
.article-title {
    border-top: solid 1px var(--mui-palette-info-main);
    padding-top: 50px;
}
.article-title svg {
    transform: rotateY(180deg);
}



@media only screen and (max-width: 1100px) {
    .work-sections {
        flex-direction: column;
        align-items: center;
    }
    .work-sections .work-section:last-child {
        padding-top: 50px;
    }
    .work-section {
        width: 100%;
    }
    .border {
        border-left: none;
        border-top: solid 1px;
    }
    .border:lang(fa){
        border-right: none;
    }
}

@media only screen and (max-width: 680px) {
    .work-sections {
        /* width: 95%; */
        margin: 50px 0;
    }
    .work-title {
        font-size: 35px;
    }
    .work-item h2 {
        font-size: 23px;
        margin: 0 0 0px 0;
    }
    .article-item h2 {
        font-size: 18px;
    }
    .work-item h3 {
        font-size: 17px;
    }
    .article-item h3 {
        font-size: 14px;
    }
    .work-item h6 {
        font-size: 0.8rem;
    }
    .work-item li {
        font-size: 0.85rem;
    }
    .work-item p {
        font-size: 0.85rem;
    }
    .work-item ul:lang(en) {
        left: 15px;
    }
    .work-item ul:lang(fa) {
        right: 15px;
    }
}

@media only screen and (max-width: 420px) {
    .work-title {
        font-size: 25px;
    }
    .work-title svg {
        transform: scale(0.8);
        top: 12px;
    }
}