.MTB-container {
    /* border: solid 1px red; */
    /* width: 100vw;
    height: 100vh;
    position: absolute;
    inset: 0; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    overflow: hidden;
    /* padding: 0 10px; */
    /* width: 100%; */
}

.MTB-link {
    /* border: solid 10px green; */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border-radius: 5px;
}

.MTB-button {
    /* border: solid 1px blue; */
    width: 100%;
    height: 100%;
    color: #EAEBED;
    background-color: var(--mui-palette-primary-main);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: relative;
    /* overflow: hidden; */
    cursor: pointer;
    transition: 0.3s;
    padding: 0 15px;
}
.MTB-button:hover {
    background-color: var(--mui-palette-primary-dark);
}

.MTB-center {
    /* border: solid 1px red; */
    position: relative;
    width: fit-content;
    height: fit-content;
}
.MTB-center p {
    /* border: solid 2px green; */
    width: fit-content;
    font-size: 15px;
    font-weight: 600;
    color: #EAEBED;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 40px;
    margin: 0;
    white-space: nowrap;
    z-index: 10;
}
.MTB-container:lang(fa) .MTB-center p {
    padding: 10px 40px 10px 10px;
}

.MTB-micro-transition {
    /* border: solid 1px red; */
    width: 20px;
    height: 200%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 10px;
    transform: translateY(-50%);
    transition: 0.3s;
}
.MTB-container:lang(fa) .MTB-micro-transition {
    left: unset;
    right: 10px;

}
.MTB-micro-transition svg {
    /* border: solid 1px black; */
    height: 50%;
}
.MTB-link:hover .MTB-micro-transition {
    transform: translateY(0%);
}

.MTB-mui-button {
    position: absolute;
    inset: 0;
    z-index: 20;
}
.MTB-mui-button button {
    /* border: solid 1px black; */
    width: 100%;
    height: 100%;
    position: relative;
    color: #EAEBED;
    background-color: transparent;
}



@media only screen and (max-width: 1140px) {
  .MTB-container {
    /* border: solid 1px red; */
    width: 70%;
  }
  .MTB-button {
    padding: 0;
  }
  /* .MTB-center p {
    font-size: 14px;
  } */
}

/* @media only screen and (max-width: 420px) {
    .MTB-link {
        width: 300px;
    }
    .MTB-button .MTB-MTB-micro-transition {
        left: 90px;
    }
    .front-container:lang(fa) .MTB-MTB-micro-transition {
        right: 90px;
    }
} */