.AB-container {
    /* border: solid 2px var(--mui-palette-primary-dark); */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 10px 0;
}

.AB-container a {
    /* border: solid 1px blue; */
    background-color: var(--mui-palette-primary-main);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}
.AB-container a:hover {
    background-color: var(--mui-palette-primary-dark);
}

.AB-container button {
    /* border: solid 1px green; */
    width: 37px;
    height: 37px;
    z-index: 2;
}

.AB-micro-transition {
    /* border: solid 1px red; */
    height: 200%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    transform: translateY(-25%);
    transition: 0.3s;
}
.AB-container a:hover .AB-micro-transition {
    transform: translateY(25%);
}

.AB-micro-transition svg {
    /* border: solid 1px blue; */
    width: 65%;
    height: 50%;
    color: #eaebed;
}


/* modal */
.MuiBackdrop-root {
    /* border: solid 10px blue; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.AB-modal {
    /* border: solid 1px red; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.AB-content {
    background-color: var(--mui-palette-secondary-main);
    /* padding: 15px; */
    border-radius: 10px;
    height: 95%;
    width: 100%;
    max-width: 600px;
    margin: 0 20px;
    overflow: auto;
}

.AB-content img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 0px;
    box-shadow: 0px 0px 10px var(--mui-palette-info-lightest);
}

.AB-data {
    /* border: solid 1px; */
    padding: 15px;
}


