.AB-container {
    /* border: solid 2px var(--mui-palette-primary-dark); */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 10px 0;
}

.AB-container .AB-button {
    /* border: solid 1px blue; */
    background-color: var(--mui-palette-primary-main);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}
.AB-container .AB-button:hover {
    background-color: var(--mui-palette-primary-dark);
}

.AB-container button {
    /* border: solid 1px green; */
    width: 37px;
    height: 37px;
    z-index: 2;
}

.AB-micro-transition {
    /* border: solid 1px red; */
    height: 200%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    transform: translateY(-25%);
    transition: 0.3s;
}
.AB-container .AB-button:hover .AB-micro-transition {
    transform: translateY(25%);
}

.AB-micro-transition svg {
    /* border: solid 1px blue; */
    width: 65%;
    height: 50%;
    color: #eaebed;
}


/* modal */
.MuiBackdrop-root {
    /* border: solid 10px blue; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.AB-modal {
    /* border: solid 1px red; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.AB-content {
    background-color: var(--mui-palette-secondary-main);
    /* padding: 15px; */
    border-radius: 10px;
    height: 95%;
    width: 100%;
    max-width: 600px;
    margin: 0 20px;
    overflow: auto;
    position: relative;
}

.AB-content .close-button {
    display: none;
}

.AB-content img {
    width: 100%;
    border-radius: 0px;
    box-shadow: 0px 0px 10px var(--mui-palette-info-lightest);
}

.AB-data {
    /* border: solid 1px; */
    padding: 40px 20px 20px 20px;
}

.AB-data h2 {
    color: var(--mui-palette-info-main);
    font-size: 25px;
    margin: 0 0 20px 0;
    font-weight: 500; 
}

.AB-data a {
    text-decoration: none;
}

.AB-data h3 {
    color: var(--mui-palette-info-main);
    font-size: 20px;
    transition: 0.2s;
    text-decoration: underline var(--mui-palette-primary-main);
    font-weight: 500;
    margin-bottom: 50px;
}

.AB-data h3:hover{
    color: var(--mui-palette-primary-main);
} 

.AB-data h5, .AB-data h6 {
    /* color: rgb(49, 49, 49); */
    color: var(--mui-palette-info-main);
    font-size: 1rem;
    /* font-size:15px; */
    font-weight: 600;
    margin-top: 15px;
}
.AB-data h5 {
    display: flex;
    align-items: center;
}
.AB-data h5 b {
    font-weight: 300;
    padding: 0 10px;
}
.AB-data h5 img {
    width: 60px;
    box-shadow: none;
    border-radius: 5px;
    margin: 0 10px;
}
.AB-data .withImage {
    margin: 40px 0 40px 0;
}
.AB-data .withImage a {
    display: flex;
    align-items: center;
    color: var(--mui-palette-info-main);
}
.AB-data .withImage:last-of-type {
    margin-bottom: 60px;
}

.AB-data h6 {
    display: flex;
    flex-direction: column;
    gap: 10px
}
.AB-data h6 div {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 10px;
}
.AB-data h6 div button {
    font-size: 0.8rem;
    font-weight: 500;
}
.AB-data:lang(fa) h6 div button {
    font-family: IRANSansX;
}
.AB-data h6 i {
    font-weight: 300;
    font-style: normal;
    text-indent: 15px;
}



@media only screen and (max-width: 680px) {
    .AB-content .close-button {
        display: flex;
        position: absolute;
        top: 5px;
        right: 5px;
        background-color: var(--mui-palette-primary-main);
        color: #eaebed;
        transition: 0.2s;
        border-radius: 7px;
        padding: 7px;
        z-index: 100;
        opacity: 0.6;
    }
    .AB-content .close-button:hover {
        background-color: var(--mui-palette-primary-dark);
        opacity: 1;
    }
    
    .AB-data {
        padding: 30px 15px 15px 15px;
    }
    
    .AB-data h2 {
        font-size: 20px;
    }
    
    .AB-data h3 {
        font-size: 16px;
        margin-bottom: 40px;
    }
    
    .AB-data h5, .AB-data h6 {
        font-size: 0.8rem;
    }
    .AB-data h5 b {
        font-size: 0.8rem;
    }
    
    .AB-data h6 div {
        gap: 5px;
    }
    .AB-data h6 div button {
        font-size: 0.7rem;
    }
    .AB-data h6 i {
        font-size: 0.8rem;
        text-indent: 15px;
    }
}