.about-home-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-home-ul {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
}

.about-home-ul li {
    color: white;
    width: 100%;
    padding: 2px 0;
    font-size: 1.3rem;
    transition: 0.2s;
}


.about-home-ul li:hover {
    color: #009393;
}

.about-home-ul ol  {
    padding: 5px 5ch;
}

@media only screen and (max-width: 680px) {
    .about-home-ul {
        width: 95%;
    }
    .about-home-ul li {
        font-size: 1.1rem;
    }
}

