.colors {
    color: #705EDC;
    color: #6A5BD5;
}

.front-container {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    font-family: IRANSansX;
    /* border: solid 1px red; */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

/* data in center */
.data {
    /* border: solid 1px black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    position: relative;
}

.texts {
    /* border: solid 1px black; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: rgba(0, 0, 0, 0.6);
    width: 600px;
    margin-right: 50px;
}

.texts h1 {
    font-size: 55px;
    /* margin-bottom: 10px; */
    color: rgba(0, 0, 0, 0.9);
    font-weight: 700;
}

.texts h2 {
    display: inline;
    font-size: 30px;
    margin-right: 10px;
    font-weight: 500;
}

.texts h3 {
    font-size: 23px;
    margin: 15px 0;
    font-weight: 600;
}

.texts p {
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
}

.cv-link {
    /* border: solid 1px blue; */
    text-decoration: none;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 30px;
}

.cv-button {
    /* border: solid 1px blue; */
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    color: #EAEBED;
    overflow: hidden;
    background-color: #6A5BD5;
    cursor: pointer;
    transition: 0.3s;
}
.cv-button:hover {
    background-color: #5a4db7;
}

.cv-button button {
    /* border: solid 1px black; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #EAEBED;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    font-size: 12px;
    font-weight: 600;
    padding: 12px 10px 10px 35px;
}
.front-container:lang(fa) .cv-button button {
    padding: 12px 35px 10px 10px;
}

.micro-transition {
    /* border: solid 1px red; */
    width: 20px;
    height: 200%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100%; */
    position: absolute;
    left: 10px;
    z-index: 10;
    transform: translateY(-50%);
    transition: 0.3s;
}
.front-container:lang(fa) .micro-transition {
    right: 10px;
}
.micro-transition svg {
    /* border: solid 1px black; */
    height: 50%;
}
.cv-button:hover .micro-transition {
    transform: translateY(0%);
}


.image-container {
    border-radius: 53% 47% 65% 35% / 22% 23% 77% 78% ;
    width: 350px;
    height: 350px;
    background-color: #6A5BD5;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-shrink: 0;
}
.front-container:lang(fa) .image-container {
    /* border: solid 1px red; */
    transform: rotateY(180deg);
}
.image-container img {
    width: 100%;
    height: 100%;
}

/* Fast Links */
.fast-links {
    /* border: solid 1px red; */
    position: absolute;
    left: 200px;
    top: 0%;
    width: 50px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    direction: ltr;
    color: rgba(0, 0, 0, 0.9);
}
.front-container:lang(fa) .fast-links {
    right: 200px;
}

/* Fast Links */
.fast-links {
    /* border: solid 1px red; */
    position: absolute;
    left: -10%;
    top: 0%;
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    direction: ltr;
}
.front-container:lang(fa) .fast-links {
    right: -10%;
}

.fast-links ul {
    /* border: solid 1px blue; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
  }
  
  .fast-links ul li {
    /* border: solid 1px black; */
    width: 100%;
    position: relative;
    transition: 0.1s;
    padding: 0;
  }
  
  .fast-links ul li a {
    /* border: solid 1px black; */
    display: flex;
    width: 100%;
    /* height: 100%; */
    text-decoration: none;
    /* border-radius: 50%; */
  }
  
  .fast-links ul li a button {
    /* border: solid 1px pink; */
    max-width: 100%;
    min-width: 100%;
    padding: 7px 0;
    transition: 0.2s;
    /* height: 50px; */
  }
  .fast-links ul li a button:hover {
    transform: scale(1.15);
    padding: 15px 0;
  }

  .fast-links ul li a button:hover {
      background-color: transparent;
    }
    
.fast-links ul li a button svg {
    /* border: solid 1px green; */
    width: 100%;
    color: rgba(0, 0, 0, 0.7);
    font-size: 2.2rem;
    padding: 0;
    margin: 0;
    transition: 0.2s;
}
.fast-links ul li:hover a button svg {
    color: #6A5BD5;
}