.colors {
    /* color: #705EDC; */
    color: #6A5BD5;
}

.front-container {
    /* border: solid 1px red; */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: var(--mui-palette-secondary-main);
}

/* data in center */
.data {
    /* border: solid 1px black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    position: relative;
}

.texts {
    /* border: solid 1px black; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: var(--mui-palette-info-light);
    width: 500px;
    margin-right: 20px;
}
.front-container:lang(fa) .texts {
    margin-left: 20px;
}

.texts h1 {
    font-size: 55px;
    /* margin-bottom: 10px; */
    color: var(--mui-palette-info-main);
    font-weight: 700;
}

.texts h2 {
    display: inline;
    font-size: 30px;
    margin-right: 10px;
    font-weight: 500;
}

.texts h3 {
    font-size: 23px;
    margin: 15px 0;
    font-weight: 600;
}

.texts p {
    /* border: solid 1px red; */
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
}

.cv-button {
    /* border: solid 1px blue; */
    margin-top: 30px;
}

.image-container {
    /* border: solid 1px red; */
    border-radius: 53% 47% 65% 35% / 22% 23% 77% 78% ;
    width: 350px;
    height: 350px;
    background-color: var(--mui-palette-primary-main);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-shrink: 0;
    animation: image-container 5s ease-in-out infinite;
}
.front-container:lang(fa) .image-container {
    /* border: solid 1px red; */
    transform: rotateY(180deg);
}

@keyframes image-container {
    0% {border-radius: 53% 47% 65% 35% / 22% 23% 77% 78% ;}
    /* 50% {border-radius: 66% 34% 81% 19% / 55% 49% 51% 45%    } */
    33% {border-radius: 23% 77% 48% 52% / 24% 22% 78% 76% }
    67% {border-radius: 39% 61% 79% 21% / 34% 50% 50% 66% }
    100% {border-radius: 53% 47% 65% 35% / 22% 23% 77% 78% ;}
}

.image-container img {
    width: 100%;
    height: 100%;
}

/* Fast Links */
.fast-links {
    /* border: solid 1px red; */
    position: absolute;
    left: 200px;
    top: 0%;
    width: 50px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    direction: ltr;
}
.front-container:lang(fa) .fast-links {
    right: 200px;
}

/* Fast Links */
.fast-links {
    /* border: solid 1px red; */
    position: absolute;
    left: -10%;
    top: 0%;
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    direction: ltr;
}
.front-container:lang(fa) .fast-links {
    right: -10%;
}

.fast-links ul {
    /* border: solid 1px blue; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
  }
  
  .fast-links ul li {
    /* border: solid 1px black; */
    width: 100%;
    position: relative;
    transition: 0.1s;
    padding: 0;
  }
  
  .fast-links ul li a {
    /* border: solid 1px black; */
    display: flex;
    width: 100%;
    /* height: 100%; */
    text-decoration: none;
    /* border-radius: 50%; */
  }
  
  .fast-links ul li a button {
    /* border: solid 1px pink; */
    max-width: 100%;
    min-width: 100%;
    padding: 7px 0;
    transition: 0.2s;
    /* height: 50px; */
  }
  .fast-links ul li a button:hover {
    transform: scale(1.15);
    padding: 15px 0;
    background-color: transparent;
  }
    
.fast-links ul li a button svg {
    /* border: solid 1px green; */
    width: 100%;
    color: var(--mui-palette-info-light);
    font-size: 2.2rem;
    padding: 0;
    margin: 0;
    transition: 0.2s;
}
.fast-links ul li:hover a button svg {
    color: var(--mui-palette-primary-main);
}

/* scroll advice */

.front-container .scroll-a {
  position: absolute;
  bottom: 20px;
}

.front-container .scroll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.front-container .scroll h2 {
  font-size: 1.1rem;
  padding: 10px;
}

.front-container .scroll .arrows {
  width: 40px;
  height: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.front-container .scroll .arrows::before {
  content: "";
  width: 100%;
  height: 7px;
  background-image: linear-gradient(var(--mui-palette-secondary-main), rgba(0, 0, 0, 0));
  position: absolute;
  top: 0;
  z-index: 1;
}

.front-container .scroll .arrows::after {
  content: "";
  width: 100%;
  height: 7px;
  background-image: linear-gradient(rgba(0, 0, 0, 0), var(--mui-palette-secondary-main));
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.front-container .scroll .arrows svg {
  width: 100%;
  height: 100%;
  position: relative;
  top: 50%;
  animation: arrow 1.5s infinite;
  transition: 0.3s;
  color: var(--mui-palette-secondary-dark)
}

.front-container .scroll:hover .arrows svg {
    color: var(--mui-palette-primary-main);
}

@keyframes arrow {
  from {top: 50%;}
  to {top: -50%;}
}



@media only screen and (max-width: 1240px) {
    .fast-links {
        left: -6%;
    }
    .front-container:lang(fa) .fast-links {
        right: -2%;
    }
}

@media only screen and (max-width: 1140px) {
    .data {
        /* border: solid 5px red; */
        flex-direction: column-reverse;
        justify-content: center;
        height: 100vh;
        width: 100vw;
    }
    .texts {
        align-items: center;
        margin-top: 20px;
        margin-right: 0px;
    }
    .front-container:lang(fa) .texts {
        margin-left: 0px;
    }
    .texts h1 {
        font-size: 35px;
    }
    .texts h3 {
        font-size: 20px;
        margin: 10px 0;
    }
    .texts p {
        font-size: 15px;
        text-align: center;
        width: 100%;
    }
    .image-container {
        width: 200px;
        height: 200px;
    }
    .fast-links {
        /* border: solid 1px red; */
        left: 7%;
        top: 0%;
        height: 450px;
    }
    .front-container:lang(fa) .fast-links {
        right: 7%;
    }
}

@media only screen and (max-width: 660px) {
    .data {
        justify-content: start;
        padding-top: 70px;
    }
    .texts p {
        width: 70%;
    }
    .fast-links {
        /* border: solid 1px red; */
        left: 5%;
        top: 0%;
        width: 50px;
        height: 350px;
    }
    .front-container:lang(fa) .fast-links {
        right: 5%;
    }
    .fast-links ul li a button {
      padding: 3px 0;
      transition: 0.2s;
    }
    .fast-links ul li a button:hover {
      padding: 8px 0;
    }
    .fast-links ul li a button svg {
      transform: scale(0.8);
    }
    .front-container .scroll {
        display: none;
    }
}

@media only screen and (max-width: 420px) {
    .texts h1 {
        font-size: 25px;
    }
    .texts h3 {
        font-size: 17px;
        margin: 10px 0;
    }
    .texts p {
        font-size: 13px;
        width: 60%;
    }
    .front-container:lang(fa) .micro-transition {
        right: 90px;
    }
}
