.emailme-container {
  /* border: solid 1px seagreen; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 100px; */
}

.emailme-container h1 {
  /* font-size: 3rem; */
  font-size: 35px;
  color: var(--mui-palette-info-light);
  margin-bottom: 30px;
}

.form-tag {
  /* border: solid 1px red; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field-container {
  /* border: solid 1px blue; */
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  width: 70%;
  color: rgba(255, 0, 0, 0.7);
  font-size: 15px;
  font-size: 300;
  text-align: center;
}

.field-container input {
  height: 50px;
  color: var(--mui-palette-info-main);
  background-color: var(--mui-palette-primary-light);
  font-size: 18px;
  font-weight: 400;
  padding: 15px;
  border: none;
  border-radius:10px;
  box-shadow: 0 0 10px var(--mui-palette-primary-light);
  transition: 0.2s;
}

/* .field-container input:focus {
  background-color: #00c0aa10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
} */

.field-container textarea {
  height: 200px;
  color: var(--mui-palette-info-main);
  background-color: var(--mui-palette-primary-light);
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--mui-palette-primary-light);
  transition: 0.2s;
}

/* send button */
.send-button {
  /* border: solid 1px red; */
  margin-top: 20px;
}


@media only screen and (max-width: 1500px) {
  .field-container {
    width: 90%;
  }
}

@media only screen and (max-width: 1140px) {
  .send-button .micro-transition {
    bottom: -110%;
  }
}

@media only screen and (max-width: 1100px) {
  .field-container {
    width: 100%;
  }
  .emailme-container h1 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 680px) {
  .emailme-container h1 {
    font-size: 25px;
  }
  .field-container input {
    font-size: 15px;
  }
  .field-container textarea {
    font-size: 15px;
  }
}