.emailme-container {
  /* border: solid 10px seagreen; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 100px; */
}

.emailme-container h1 {
  font-size: 3rem;
  color: var(--mui-palette-info-light);
  margin-bottom: 50px;
}

.form-tag {
  /* border: solid 1px red; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field-container {
  /* border: solid 1px blue; */
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  width: 70%;
  color: rgba(255, 0, 0, 0.7);
  font-size: 1.1rem;
  font-size: 300;
  text-align: center;
}

.field-container input {
  height: 50px;
  color: var(--mui-palette-info-main);
  background-color: var(--mui-palette-primary-light);
  font-size: 1.3rem;
  font-weight: 400;
  padding: 15px;
  /* border: solid 2px rgb(12, 147, 129); */
  border: none;
  border-radius:10px;
  box-shadow: 0 0 10px var(--mui-palette-primary-light);
  transition: 0.2s;
}

/* .field-container input:focus {
  background-color: #00c0aa10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);

} */

.field-container textarea {
  height: 200px;
  color: var(--mui-palette-info-main);
  background-color: var(--mui-palette-primary-light);
  font-size: 1.1rem;
  font-weight: 400;
  padding: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--mui-palette-primary-light);
  transition: 0.2s;
}

.field-container textarea:lang(fa) {
  border-radius: 10px;
}


/* .emailme-container button{
 padding: 5px 40px;
 margin: 20px;
 border-radius: 35px;
}

.emailme-container button span{
 font-size: 1.7rem;
 font-weight: 600;
 color: var(--mui-palette-primary-dark);
} */

/* send button */
.send-button {
  /* border: solid 1px red; */
  color: #EAEBED;
  background-color: var(--mui-palette-primary-main);
  margin-top: 20px;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  overflow: hidden;
}
.send-button:hover {
  background-color: var(--mui-palette-primary-dark);
}

.send-button button {
  /* border: solid 1px black; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #EAEBED;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
  font-size: 14px;
  font-weight: 600;
  padding: 12px 60px 10px 30px;
  /* margin: 0; */
}
.front-container:lang(fa) .send-button button {
  padding: 12px 30px 10px 60px;
}

.send-button .micro-transition {
  /* border: solid 1px red; */
  width: 20px;
  height: 200%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
  position: absolute;
  left: unset;
  right: 30px;
  /* right: 10px; */
  z-index: 10;
  transform: translateY(-50%);
  transition: 0.3s;
}
.send-button .micro-transition svg {
  /* border: solid 1px black; */
  height: 50%;
}
.send-button:hover .micro-transition {
  transform: translateY(0%);
}


@media only screen and (max-width: 1500px) {
  .field-container {
    width: 90%;
  }
}

@media only screen and (max-width: 1100px) {
  .field-container {
    width: 100%;
  }
  .emailme-container h1 {
    font-size: 2.3rem;
  }
  .send-button {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .send-button button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .send-button .micro-transition {
    right: 120px;
    transform: translateY(-25%);
  }
  .send-button:hover .micro-transition {
    right: 120px;
    transform: translateY(25%);
  }
}
