header {
    position: sticky;
    top: 0px;
}

.top-bar {
    width: 100%;
    height: 70px;
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Options */
.options {
    width: 60%;
    display: flex;
    justify-content: center;
}

ul {
    color: black;
    list-style-type: none;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0px;
    width: 70%;
}

.link {
    text-decoration: none;
    color: #016170;
    /* font-family: IRANSans, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    transition: 0.2s;
}

.link:hover {
    color: #009393;
}

@media only screen and (max-width: 680px) {
    ul {
      width: 90%;
    }
  }

/* changing lang */
.lang {
    border: none;
    width: 80px;
    height: 30px;
    background-color: #ffffff00;
    color: #016170;
    letter-spacing: 2px;
    cursor: pointer;
    /* font-family: IRANSans; */
    font-weight: 600;

}

.active {
    color: #00c0a9;
    text-decoration: underline;

}