.UB-container {
    /* border: solid 1px red; */
    position: fixed;
    bottom: 40px;
    right: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    display: none;
    z-index: 100;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.UB-scrolled {
    display: flex;
    animation: upButton 0.4s ease-in-out;
}

@keyframes upButton {
    0% {bottom: -100px;}
    70% {bottom: 45px;}
    100% {bottom: 40px;}
  }

.UB-container a {
    /* border: solid 1px blue; */
    /* background-color: var(--mui-palette-primary-light); */
    background-color: #ffffff20;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}
/* .UB-container a:hover {
    background-color: var(--mui-palette-primary-dark);
} */

.UB-container button {
    /* border: solid 1px green; */
    width: 45px;
    height: 45px;
    z-index: 2;
}

.micro-transition2 {
    /* border: solid 1px red; */
    height: 200%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    transform: translateY(25%);
    transition: 0.3s;
}
.UB-container a:hover .micro-transition2 {
    transform: translateY(-25%);
}

.micro-transition2 svg {
    /* border: solid 1px blue; */
    width: 80%;
    height: 50%;
    /* color: #eaebed; */
    color: var(--mui-palette-info-main);
    transform: rotate(180deg);
}

@media only screen and (max-width: 680px) {
    .UB-scrolled {
        display: none;
    }
}