.colors {
    /* color: #705EDC; */
    color: #6A5BD5;
    color: #7209b7;
    color: #6f2dbd;
    color: #3d348b;
    color: #dedede;
    color: #cdcdcd;
}

/* menu */
.menu header{
    position: fixed;
    top: 0px;
    width: 100vw;
    z-index: 1000;
    text-decoration: none;
}

 .top-bar {
    width: 100%;
    height: 70px;
    /* background-color: #ffffff30;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px); */
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.scrolled {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    background-color: #ffffff30;
    /* background-color: #00c0a9; */
    /* border: solid 10px red; */
}

/* Options */
.options {
    /* border: solid 1px red; */
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.options ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0px;
    width: 75%;
}

.options svg {
    display: none;
}

.link {
    text-decoration: none;
    color: var(--mui-palette-info-main);
    transition: 0.2s;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 5px;
}

.link:hover {
    color: var(--mui-palette-primary-main);
}

.link.active {
    color: var(--mui-palette-primary-main);
}

/* Menu buttons */
.buttons {
    /* border: solid 1px red; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    direction: ltr;
    position: absolute;
    right: 40px;
}

.buttons .theming {
    /* border: solid 1px red; */
    padding: 2px;
}
.buttons .theming svg {
    /* border: solid 1px red; */
    width: 30px;
    height: 30px;
    color: var(--mui-palette-info-main);
    transform: rotateY(180deg);
    transition: 0.3s;
}
.buttons .theming:hover svg {
    color: var(--mui-palette-primary-main);
    transform: rotateY(180deg) rotate(30deg);
}

/* changing lang */
.changing-lang {
    /* border: solid 1px red; */
    position: relative;
    height: 30px;
    width: 30px;
    padding: 0;
    margin-right: 20px;
    /* border: solid 2px #6A5BD5; */
    border: solid 2px var(--mui-palette-info-main);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}
.changing-lang svg {
    width: 135%;
    height: 135%;
    padding: 0;
    margin: 0;
    /* color: #6A5BD5; */
    color: var(--mui-palette-info-main);
    transition: 0.3s;
    position: relative;
    top: 0.2px;
    left: 0.5px;
}
.changing-lang:hover svg {
    color: var(--mui-palette-primary-main);
}
.langInputs {
    /* border: solid 1px red; */
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: 0.2;
    direction: ltr;
    overflow: hidden;
}
.langInputs .lang:nth-child(2) {
    /* border-left: solid 2px #6A5BD5; */
    border-left: solid 2px var(--mui-palette-info-main);
    padding-top: 1.5px;
}

.langActive {
    width: 100px;
    /* width: fit-content; */
    /* height: 50px; */
    border-radius: 50px;
    /* border: solid 2px #016170; */
}
.langActive svg {
    opacity: 0;
}
.langActive .langInputs {
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.lang {
    border: none;
    width: 50%;
    height: 100%;
    background-color: transparent;
    /* color: #6A5BD5; */
    color: var(--mui-palette-info-main);
    cursor: pointer;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lang.active {
    /* color: var(--mui-palette-primary-dark); */
    background-color: var(--mui-palette-primary-light);
    /* text-decoration: underline; */
}
/* .lang {
    border: none;
    padding: 0 10px;
    height: 30px;
    background-color: transparent;
    color: #016170;
    letter-spacing: 1.5px;
    cursor: pointer;
    font-weight: 600;
}

.active {
    color: #00c0a9;
} */


@media only screen and (max-width: 680px) {
    .menu header{
        /* border: solid 2px red; */
        top: unset;
        bottom: 20px;
        height: fit-content;
        display: flex;
        align-items: baseline;
        justify-content: center;
    }
    .top-bar {    
        /* border: solid 2px red; */
        height: 50px;
        width: 90%;
        padding: 0 20px;
        border-radius: 70px;
        align-items: center;
        justify-content: space-between;
        direction: ltr;
    }
    .options {
        width: 50%;
        height: 60%;
        position: relative;
        /* bottom: 150px; */
        
    }
    .options ul {
        /* border: solid 2px red; */
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .options span {
       display: none;
    }
    .options svg {
       display: flex;
       width: 30px;
       height: 30px;
    }
    .buttons {
        /* border: solid 1px red; */
        position: relative;
        width: 50%;
        right: unset;
    }
    .changing-lang {
        position: relative;
        margin-right: 5px;
    }
    .changing-lang:lang(fa) {
        position: relative;
    }
  }

  /* @keyframes apear {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  @keyframes disapear {
    from {
        display: flex;
        opacity: 1;
    }
    to {
        display: flex;
        opacity: 0;
    }
  } */