.App {
  text-align: center;
  /* font-family: "IranSans"; */
  font-family: 'Muli';
  font-weight: 400;
  font-size: 20px;
}

h1{
  position: absolute;
}

.h1en{
 left: 50px;
}

.h1fa{
  right: 50px;
}

.all-other{
  position: relative;
  top: 100px;
}

