body {
  margin: 0;
  padding: 0;
  background-color: #eaebed;
}

*:lang(en) {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1rem;
  
}

*:lang(fa) {
  font-family: IRANSans;
  font-size: 1rem;
}

*::selection {
  /* color: #ddf7f8; */
  color: #02342f;
  /* color: #f0edcc;
  background-color: #9ab8ba; */
  /* background-color: #02342f; */
  background-color: #f0edcc;
}